@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// custom colors
@import "bulma/colors";

@import "~bulma/sass/utilities/derived-variables";
@import '~bulma/bulma';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


.is-grey {
  background-color: #F6F6F6;
}

.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 700px;
  border: none;
}
